@mixin transitionAllQuick() {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@mixin transitionAllSlow() {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@mixin roundedCorners($val) {
    -webkit-radius:$val;
    -moz-border-radius:$val;
    -o-border-radius:$val;
    border-radius:$val;
}

@mixin roundedCornersTop($val) {
    -webkit-radius:$val $val 0 0;
    -moz-border-radius:$val $val 0 0;
    -o-border-radius:$val $val 0 0;
    border-radius:$val $val 0 0;
}

@mixin roundedCornersRight($val) {
    -webkit-radius:0 $val $val 0;
    -moz-border-radius:0 $val $val 0;
    -o-border-radius:0 $val $val 0;
    border-radius:0 $val $val 0;
}

@mixin roundedCornersBottom($val) {
    -webkit-radius:0 0 $val $val;
    -moz-border-radius:0 0 $val $val;
    -o-border-radius:0 0 $val $val;
    border-radius:0 0 $val $val;
}

@mixin boxShadow($size, $shadow) {
    -webkit-box-shadow: 0 0 $size $shadow;
    -moz-box-shadow: 0 0 $size $shadow;
    -o-box-shadow: 0 0 $size $shadow;
    box-shadow: 0 0 $size $shadow;
}

@mixin dropShadow() {
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -o-box-shadow:0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

//@mixin dotsBottom() {
//    background:url('../images/bg-dots.png') repeat-x bottom left;
//}
//
//@mixin dotsTop() {
//    background:url('../images/bg-dots.png') repeat-x top left;
//}

@mixin backgroundImage() {
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}